body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: rgb(29, 8, 100);
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}